@import "variables.css";

.game {
  padding: 2vw;
  border-radius: 5%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.game > * {
  margin-bottom: 1vw;
}

.status {
  color: var(--lightColor2);
}

.reset {
  padding: 5px 10px;
  color: var(--lightColor2);
  background-color: var(--lightColor1);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
  animation: button-appear 0.5s ease-in-out forwards;
  margin-top: 2vw;
}
.reset:hover {
  box-shadow: 0px 0px 15px var(--lightColor2);
  color: var(--darkColor3);
  font-weight: bolder;
  transform: scale(1.1);
}

@keyframes button-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
